<div
  *ngIf="getSelectHeader === headerMostPopularUsers"
  class="statistic-container"
>
  <h2
    class="statistic-container__element"
    *ngFor="let item of getList; index as i"
  >
    {{ i + 1 }}. {{ item.name }} took
    {{ item.quantity === 1 ? "one book" : item.quantity + " " + "books" }}
  </h2>
</div>

<div
  *ngIf="getSelectHeader === headerMostPopularBooks"
  class="statistic-container"
>
  <h2
    class="statistic-container__element"
    *ngFor="let item of getList; index as i"
  >
    {{ i + 1 }}. {{ item.name }} took
    {{ item.quantity === 1 ? "once" : item.quantity + " " + "times" }}
  </h2>
</div>
