:host {
  display: block;
  background-color: #f6f6f6;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #009595;
}
