<form class="form-group" [formGroup]="sortCard">
  <label class="form-group__label">
    <div class="form-group__text">Sort by:</div>
    <select type="text" class="form-group__select" formControlName="sortValue">
      <option *ngFor="let item of getSortValues">{{ item }}</option>
    </select>
  </label>
  <button class="form-group__button sort">Sort</button>
</form>

<form class="form-group" [formGroup]="searchForm">
  <label class="form-group__label">
    <div class="form-group__text">Search:</div>
    <input
      type="text"
      class="form-group__input"
      formControlName="searchValue"
    />
  </label>
  <button class="form-group__button search">Search</button>
</form>
